---
layout: default
menu: home
css: ['index_new.css', 'sidebar-popular-repo.css']
---
<section class="jumbotron">
    <div class="container">

<div class="col-md-2">

  <div  style="margin-top: 0px">
   {% if site.cicle_avatar %}
     <img src= "{{site.cicle_avatar}}" width="110" height="110" class="img-circle">
   {% endif %}
  </div>
</div>

<div class="col-md-10">

        {% if site.nick_name %}
        <p class="nick_name">UFreedom</p>
        {% endif %}


        <div id="jumbotron-meta-info">
            {% if site.location %}
            <span class="meta-info">
                <span class="octicon octicon-location"></span>
                {{ site.location }}
            </span>
            {% endif %}

            {% if site.company %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-organization"></span>
                <a href="{{ site.company_url }}" target="_blank">{{ site.company }}</a>
            </span>
            {% endif %}

            {% if site.github_url %}
            <span class="meta-info hvr-grow">
                <span class="octicon octicon-mark-github"></span>
                <a href="{{ site.github_url }}" target="_blank">{{ site.nick_name }}</a>
            </span>
            {% endif %}
        </div>

        {% if site.about_me_des %}
        <p class="des_me">{{ site.about_me_des }}</p>
        {% endif %}

    </div>
  </div>
</section>



<section class="content container">

    <div class="row">

        <!-- Post List -->
        <div class="col-md-8">

            <ol class="post-list">
                {% for post in paginator.posts %}
                <li class="post-list-item">
                    <h4 class="post-list-title">
                        <a class="hvr-underline-from-center" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <p style="font-size:14px" class="post-list-description">
                        {{ post.excerpt | strip_html | strip }}
                    </p>
                    <p class="post-list-meta">
                        <span class="octicon octicon-calendar"></span> {{ post.date | date: "%Y/%m/%d" }}
                    </p>
                </li>
                {% endfor %}
            </ol>

            <!-- Pagination -->
            {% include pagination.html %}

            <!-- Comments -->
            {% include disqus-comments.html %}

        </div>

        <div class="col-md-4">
            {% include sidebar-popular-repo.html %}
        </div>

    </div>

</section>
