<div class="about row">

    <div class="col-md-8">


        <h3>Download My CV</h3>

        <a role="button" class="btn btn-primary hvr-grow-shadow" href="/assets/files/CV_Meng_SUN_Applying_for_Android_Engineer.pdf" target="_blanks">
                    <span class="flag-icon flag-icon-gb"></span> English
                </a>
                <a style="margin-left: 30px;" role="button" class="btn btn-primary hvr-grow-shadow" href="/assets/files/孙猛_应聘_Android_开发工程师.pdf" target="_blanks">
                    <span class="flag-icon flag-icon-cn"></span> 中文
                </a>

        <h2>Contact</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>微信 Wechat</h2>


        <div align="left">
        <img src="https://github.com/UFreedom/UFreedom.github.io/blob/master/attachments/images/wechat_qrcode.JPG"  width="280"  height="362"/>
         </div>
        <br>


        <h2>Skill Keywords</h2>

        {% if site.skill_software_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Software Engineer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_software_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_j2ee_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">J2EE Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_j2ee_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_mobile_app_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Mobile Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_mobile_app_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web_keywords %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Web Developer Keywords</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web_keywords %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

    </div>

  <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
